{%extends 'all-posts/base.html'%}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}

<body style="background-color: brown;">

    <div class="cs-loader">
        <div class="cs-loader-inner">
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
        </div>
    </div>

</body>
{% endblock%}

</html>