{%extends 'all-posts/base.html'%}
{{block.super}}
{% block content %}

<div style="background-image: url(https://images.wallpaperscraft.com/image/jungle_river_trees_moss_lianas_48348_1920x1080.jpg); padding-bottom: 45px;" class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                {% if request.user.is_authenticated %}
                <h1>You are already Logged In</h1>
                {% else%}
                <div style="text-align: center; background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');"
                    class="card-header">
                    <h2> <img float="right" src="https://wallpapertag.com/wallpaper/full/f/1/f/752844-popular-scenic-wallpaper-backgrounds-1920x1080.jpg" alt=""
                            height="90px"> Sign up</h2>
                </div>


                <div style="background-image: url('https://i.pinimg.com/originals/43/f2/76/43f276136ba813909e979496e7836e02.jpg');"
                    class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <button class="btn btn-danger" id="btn-2" type="submit">Sign up</button>
                    </form>
                </div>
                {% endif%}

            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

{% endblock %}